{% load static %}

<section class="padding-top">
<div class="container">

	<header class="section-heading">
		<h3 class="section-title">Nuevos Productos</h3>
	</header> 

	<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-6">
			<figure class="card card-product-grid">
				<a href="#" class="img-wrap"> 
					<img src="{% static 'images/items/12.jpg' %}"> 
				</a>
				<figcaption class="info-wrap border-top">
					<a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-eye-open"></i> </a>
					<a href="#" class="title text-truncate">T-shirt Azul para Hombre</a>
					<small class="text-muted">Tallas: S, M, XL</small>
				</figcaption>
			</figure>
		</div> <!-- col end.// -->

		<div class="col-lg-3 col-md-6 col-sm-6">
			<figure class="card card-product-grid">
				<a href="#" class="img-wrap"> 
					<img src="{% static 'images/items/11.jpg' %}"> 
				</a>
				<figcaption class="info-wrap border-top">
					<a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-eye-open"></i> </a>
					<a href="#" class="title text-truncate">Warm Winter Jacket</a>
					<small class="text-muted">Tallas: S, M, XL</small>
				</figcaption>
			</figure>
		</div> <!-- col end.// -->

		<div class="col-lg-3 col-md-6 col-sm-6">
			<figure class="card card-product-grid">
				<a href="#" class="img-wrap"> 
					<img src="{% static 'images/items/10.jpg' %}"> 
				</a>
				<figcaption class="info-wrap border-top">
					<a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-eye-open"></i> </a>
					<a href="#" class="title text-truncate">Mens T-shirt Cotton Base</a>
					<small class="text-muted">Blue, White, Black</small>
				</figcaption>
			</figure>
		</div> <!-- col end.// -->

		<div class="col-lg-3 col-md-6 col-sm-6">
			<figure class="card card-product-grid">
				<a href="#" class="img-wrap"> 
					<img src="{% static 'images/items/9.jpg' %}"> 
				</a>
				<figcaption class="info-wrap border-top">
					<a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-eye-open"></i> </a>
					<a href="#" class="title text-truncate">Men's Denim Shorts Jeans</a>
					<small class="text-muted">Blue, White, Black</small>
				</figcaption>
			</figure>
		</div> <!-- col end.// -->
	</div> <!-- row end.// -->

</div> <!-- container end.// -->
</section>