{% load static %}

<section class="padding-y">
    <div class="container">
        <article class="card p-3 p-lg-5">
            <div class="row g-3">
                <div class="col-lg-2 col-md-6">
                </div>
                <div class="col-lg-4 col-md-6">
                    <figure class="icontext">
                        <div class="icon">
                            <span class="icon-sm bg-warning-light text-warning rounded">
                                <i class="fa fa-thumbs-up"></i>
                            </span>
                        </div>
                        <figcaption class="text">
                            <h6 class="title">Precios de mayorista</h6>
                            <p>Los mejores precios del mercado </p>
                        </figcaption>
                    </figure> <!-- icontext // -->
                </div><!-- col // -->
                <div class="col-lg-4 col-md-6">
                    <figure class="icontext">
                        <div class="icon">
                            <span class="icon-sm bg-warning-light text-warning rounded">
                                <i class="fa fa-plane"></i>
                            </span>
                        </div>
                        <figcaption class="text">
                            <h6 class="title">Envios Nacionales</h6>
                            <p>Enviamos tu pedido a cualquier parte </p>
                        </figcaption>
                    </figure> <!-- icontext // -->
                </div><!-- col // -->
                <div class="col-lg-2 col-md-6">
                </div>
            </div> <!-- row // -->
        </article>
    </div><!-- //container -->
</section>