{% extends "base.html" %}

{% load  static %}

{% block title %}
Distribuidora Venecia
{% endblock title %}


{% block content %}

<!-- ================ SECTION INTRO ================ -->

<!-- ================ SECTION INTRO END.// ================ -->


<!-- ================ templates carrusel ================ -->
{% include 'carrusel/carrusel.html' %}

<!-- ================ SECTION PRODUCTS ================ -->
{% include 'producto/producto_last.html' %}
<!-- ================ SECTION PRODUCTS END.// ================ -->


<!-- ================ SECTION SKILLS ================ -->
{% include 'includes/sections/skills.html' %}
 <!-- ================ SECTION SKILLS END.// ================ -->

{% endblock content %}