{% extends "base.html" %}

{% load  static %}

{% block title %}
Distribuidora Venecia
{% endblock title %}

{% block content %}

<!-- ================ SECTION INTRO ================ -->
{% include 'includes/sections/intro.html' %}
<!-- ================ SECTION INTRO END.// ================ -->


<!-- ================ SECTION PRODUCTS ================ -->
{% include 'includes/sections/productos.html' %}
<!-- ================ SECTION PRODUCTS END.// ================ -->


<!-- ================ SECTION FEATURE ================ -->
{% include 'includes/sections/feature.html' %}
<!-- ================ SECTION FEATURE END.// ================ -->


<!-- ================ SECTION SKILLS ================ -->
{% include 'includes/sections/skills.html' %}
 <!-- ================ SECTION SKILLS END.// ================ -->

{% endblock content %}