{% extends "base.html" %}

{% load  static %}
{% block title %}
Ubicacion
{% endblock title %}

{% block content %}


<!-- ============== SECTION CONTENT  ============== -->
<section class="padding-y bg-light">
    <div class="container">

        <header class="section-heading">
            <h2 class="section-title">Encuentranos </h2>
        </header>

        <div class="row">
            <div class="col-12">
                <p class="fs-2">
                    Colonia Venecia 2da entrada, 8 cuadras al Sur y 1/2 al Este.
                </p>
                <p class="fs-4 text-muted m-0 p-0">
                    Choluteca - Choluteca, Honduras.
                </p>
                <br class="m-0 p-0">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 text-center m-2" id="map">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3882.6940979042583!2d-87.17466898517439!3d13.30703939063645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f703dfc29c18cbb%3A0x3ba9a0ba86489104!2sDistribuidora%20venecia!5e0!3m2!1ses-419!2shn!4v1651287841681!5m2!1ses-419!2shn"
                width="600" height="400" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="border rounded border-1 mw-100 mh-100"></iframe>
            </div>
            <div class="col-1"></div>
        </div>
    </div> <!-- container .//  -->
</section>

{% endblock content %}