{% extends "base.html" %}

{% load  static %}
{% load bootstrap_pagination %}
{% block title %}
Distribuidora Venecia busqueda
{% endblock title %}

{% block content %}
<!-- ============== SECTION PAGETOP ============== -->

<section class="bg-primary py-5">
    <div class="container">
        <h2 class="text-white">Distribuidora Venecia</h2>
      <ol class="breadcrumb ondark mb-0">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>

        {% if request.GET.busqueda %}
            <li class="breadcrumb-item">Resultados de búsqueda para: '{{ request.GET.busqueda }}'</li>
        {% else %}

            {% if nombre_categoria %}
                <li class="breadcrumb-item">{{nombre_categoria}}</li>
            {% else %}
                <li class="breadcrumb-item">Todos los productos</li>
            {% endif %}

        {% endif %}
      </ol>
    </div> <!-- container //  -->
    </section>
    <!-- ============== SECTION PAGETOP END// ============== -->
    <br>
<!-- ============== SECTION CONTENT ============== -->
<section class="padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-lg-3">
    
    <button class="btn btn-outline-secondary mb-3 w-100  d-lg-none" data-bs-toggle="collapse" data-bs-target="#aside_filter">Mostrar filtros</button>
    
    <!-- ===== Card for sidebar filter ===== -->
    <div id="aside_filter" class="collapse card d-lg-block mb-5">
    
      <article class="filter-group">
        <header class="card-header">
          <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside1">
            <i class="icon-control fa fa-chevron-down"></i>   Nuestras categorías 
          </a>
        </header>
        <div class="collapse show" id="collapse_aside1">
          <div class="card-body">
            <ul class="list-menu">
                {% for categoria  in categorias %}

                    {% ifequal categoria.pk id_categoria %}
                        <li><a href="{% url 'busqueda:busqueda_categoria' categoria.pk %}">
                            <span style="color: #0d6efd;"><u>{{categoria.nombre_categoria}}</u></span></a>
                        </li>
                    {% else %}
                        <li><a href="{% url 'busqueda:busqueda_categoria' categoria.pk %}">
                            {{categoria.nombre_categoria}}</a>
                        </li>
                    {% endifequal %}

                {% endfor %}
            </ul>
          </div> <!-- card-body.// -->
        </div> <!-- collapse.// -->
      </article> <!-- filter-group // -->
    </div> <!-- card.// -->
    <!-- ===== Card for sidebar filter .// ===== -->
    
        </aside> <!-- col .// -->
        <main class="col-lg-9">
            
        <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
            <strong class="d-block py-2">{{productos|length}} productos encontrado </strong>
        </header>
    
        <!-- ========= content items ========= -->
        <div class="row">
            {% for producto in productos  %}
            <div class="col-lg-4 col-md-6 col-sm-6">
            <a href="#">
              <figure class="card card-product-grid">
                <div class="img-wrap"> 
                  <img src="{{producto.img_producto.url}}"> 
                </div>
                <figcaption class="info-wrap border-top">
                  <p class="title mb-2">{{producto.descripcion_producto}}</p>
                </figcaption>
              </figure>
            </a>
            </div> <!-- col end.// -->
            {% empty %}
            <h4>Lo sentimos no encontramos lo que busca</h4>
            {% endfor %}
        </div> <!-- row end.// -->
        <hr>
    
        <footer class="d-flex mt-4">
            {% bootstrap_paginate productos range=6 show_first_last="true" extra_pagination_classes="justify-content-left" %}
        </footer>
    
        <!-- ========= content items .// ========= -->
    
        
    
        </main> <!-- col .// -->
    </div> <!-- row .// -->
    
    </div> <!-- container .//  -->
    </section>
    <!-- ============== SECTION CONTENT END// ============== -->
    
    


{% endblock content %}