{% extends "dashboard/dashboard_base.html" %}

{% load  static %}

{% block title %}
Administración de producto
{% endblock title %}

{% block content %}

    <div class="container-fluid">
        <!--<div class="content-wrapper my-3 p-3 bg-body rounded shadow-sm">-->
          <div class="d-flex justify-content-center col-12 mb-4">
            <h3 class="mt-4">Productos</h3>
          </div>
            
            <div class="table-responsive shadow p-4 mb-4 bg-white rounded">
              <table class="table table-hover" id="datatable">
                       <thead>
                         <tr>
                            <th>Nro</th>
                            <th>Producto</th>
                            <th>Descripción</th>
                            <th>Categoría</th>
                            <th>Marca</th>
                            <th>Acciones</th>
                         </tr>
                       </thead>
                        <tbody>
        
                        </tbody>
                </table>
                <div class="col-2">

                    <button type="button" 
                    class="form-control btn btn-success btn-sm" 
                    id="btnAdd">
                    <i class="fa-solid fa-plus"></i>
                    Agregar producto
                    </button>
                </div>
            </div>
                
        </div>
    <!--</div>-->
        
        <!-- Inicio Modal Agregar Producto -->
        <div class="modal fade" id="modalProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="">
                    <i class="fa-solid fa-plus"></i> <span>Crear Producto</span></h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                    <form method="post" action="." id="form_producto" enctype="multipart/form-data">
                        <div class="form-group row">
                            {% csrf_token %}
                            <input type="text" class="d-none" name="action" id="action" value="crear" />
                            <input type="text" class="d-none" id="id_producto" value="0" />

                            <div class="col-md-12">
                                <label for="">Nombre</label>
                                <input type="text" class="form-control" name="nombre" id="nombre" required />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="">Descripción</label>
                                <textArea id="descripcion" name="descripcion" class="form-control">
                                </textArea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="">Categoría</label>
                                <select name="categoria" id="categoria" class="form-control">
                                    <option value="0">--Seleccione--</option>
                                    {% for categoria in categorias %}
                                        <option value="{{categoria.pk}}">{{categoria.nombre_categoria}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-6">
                                <label for="">Marca</label>
                                <select name="marca" id="marca" class="form-control">
                                    <option value="0">--Seleccione--</option>
                                    {% for marca in marcas %}
                                        <option value="{{marca.pk}}">{{marca.nombre_marca}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="">Imagen</label>
                                <input type="file" id="imagen" name="imagen" accept="image/*">
                            </div>
                        </div>
                    </form>
    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary" id="btn">Guardar</button>
                </div>
              </div>
            </div>
        </div>
        <!-- Fin Modal Agregar Categoria -->


        <!-- Inicio modal ver/editar imagen-->
        <div class="modal fade" id="modalImagen">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <img src="" class="img-responsive" style="width: 100%; heigth: 100%;" id="id_imagen">
                </div>
            </div>
        </div>
        <!-- Fin modal ver/editar imagen-->


<script>
    var tablaProducto;
    var modalTitulo = $('.modal-title');
    window.onload = function(){
        
        //alert("Pagina cargada");
        $("#btnAdd").on("click", function(){
            modalTitulo.find('span').html('Crear producto');
            modalTitulo.find('i').removeClass().addClass('fas fa-plus');
            $('#action').val("crear");
            $('#form_producto')[0].reset();
            $('#descripcion').val("");
            $('#nombre').focus();
            
            $('#modalProducto').modal('show');
        });
        $('#datatable').DataTable();
        obtenerDatos();
    }

 

    $('#datatable tbody').on('click', 'a[rel="editar"]', function () {
        var tr = tablaProducto.cell($(this).closest('td, li')).index();
        var data = tablaProducto.row(tr.row).data();

        modalTitulo.find('span').html('Editar producto');
        modalTitulo.find('i').removeClass().addClass('fas fa-edit');

        $('#action').val("editar");
        $('#id_producto').val(data.id);
        $('#nombre').val(data.nombre_producto);
        $('#descripcion').val(data.descripcion_producto);
        $('#categoria').val(data.categoria.id);
        $('#marca').val(data.marca.id);


        $('#modalProducto').modal('show');
    }).on('click', 'a[rel="eliminar"]', function (){
        var tr = tablaProducto.cell($(this).closest('td, li')).index();
        var data = tablaProducto.row(tr.row).data();

        $('#action').val("eliminar");
        $('#id_producto').val(data.id);

        Swal.fire({
            title: `¿Esta seguro de eliminar el registro Nro ${data.id}?`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
          }).then((result) => {
            if (result.isConfirmed) {
                submit_with_ajax("","");
            }
          });

    }).on('click', 'a[rel="verImagen"]', function(){
        var tr = tablaProducto.cell($(this).closest('td, li')).index();
        var data = tablaProducto.row(tr.row).data();
        //console.log(data.img_categoria);
        $("#id_imagen").attr("src", data.img_producto);
        $("#modalImagen").modal("show");
    });


    $("#btn").on("click", function (){
 
        if($("#nombre").val() == "" ){
            alert("No puede dejar campos vacios");
        }else if($( "#categoria" ).val() == 0){
            alert("Seleccione una categoría");
        }else{
            submit_with_ajax("","");
        }
        return false;
    });

    //Función Ajax 
    function submit_with_ajax(url, parametros) {
        var parametros = new FormData();
        token = $('input[name="csrfmiddlewaretoken"]').val();
        parametros.append('action', $('#action').val());
        parametros.append('nombre_producto', $("#nombre").val());
        parametros.append('descripcion', $("#descripcion").val());
        parametros.append('id', parseInt($("#id_producto").val()));
        parametros.append('id_categoria', $( "#categoria" ).val());
        parametros.append('id_marca', $( "#marca" ).val());
        parametros.append('imagen', $("#imagen")[0].files[0]);
        parametros.append('csrfmiddlewaretoken',token);
        
        $.ajax({
            url: window.location.pathname, //window.location.pathname
            type: 'POST',
            data: parametros,// parametros,

            dataType: 'json',
            contentType: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (result) {
                //alert("Correcto");
                if(result.correcto){
                    $('#form_producto')[0].reset();
                    $("#modalProducto").modal("hide");
                    tablaProducto.ajax.reload(null, false);
    
                    switch(result.tipo_accion) {
                        case "crear":
                            texto = "Datos guardado con éxito";
                          break;
                        case "editar":
                            texto = "Datos editados con éxito";
                          break;
                        case "eliminar":
                            texto = "Registro eliminado con éxito";
                          break;
                        default:
                            texto = "";
                      }       
    
                    Swal.fire({
                        icon: 'success',
                        title: 'Correcto',
                        text: texto
                    });
    
                }else{
                    tablaProducto.ajax.reload(null, false);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Ha ocurrido un error al realizar la acción'
                    });
                }  

            },
            error: function (error) {
                //alert(error.responseJSON.Message);
              
            },
            failure: function () {
                //alert('Failure');
            }
        });
    }

    function obtenerDatos(){
        token = $('input[name="csrfmiddlewaretoken"]').val();
        tablaProducto = $('#datatable').DataTable({
            responsive: true,
            autoWidth: false,
            destroy: true,
            bSortable: true,
            deferRender: true,
            language: { "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json" },
            ajax: {
                url: window.location.pathname,//Obtenemos la url obsoluta
                type: 'POST',
                data: {
                    'action': 'buscardatos', //Mandamos la accion para que django sepa que tiene que buscar
                    'csrfmiddlewaretoken': token
                }, // parametros
                dataSrc: ""
            },
            columns: [ //Columnas de nuestro modelo/Tabla aqui retorna o pinta los valores en la datables
                { "data": "id"},  
                { "data": "nombre_producto"}, 
                { "data": "descripcion_producto"}, 
                { "data": "categoria.nombre"}, 
                { "data": "marca.nombre"}, 
                { "data": "id"},//3 esta no existe en los modelos porque son los botones tenemos que personalizarlo
            ],
            columnDefs: [ //Personalizar una columna
                {
                    targets: [5], //Personalizar la colummna numero 3
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                        var buttons = `<a  rel="verImagen" class='btn btn-success btn-sm btn-flat test-popup-link'>
                            <i class="fa-solid fa-file-image"></i></a> `;

                            buttons += `<a rel="editar" class="btn btn-warning btn-sm btn-flat">
                                        <i class="fas fa-edit"></i></a> `;

                            buttons += `<a  rel="eliminar" class='btn btn-danger btn-sm btn-flat'>
                                        <i class="fa-solid fa-trash-can"></i></a>`;
                            return buttons;
                    }
                },
            ],
        });
    }
        

    
</script>




{% endblock content %}