{% load static %}

<footer class="section-footer bg-primary footer-dark">
    <div class="container">
        <section class="footer-main padding-y">
            <div class="row">
                <aside class="col-6 col-sm-6 col-lg-3">
                    <article class="me-lg-6">
                        
                        <a href="#"><img src="{% static 'images/logoBlanco-icon.ico' %}" class=""></a>
                       
                        <p class="mt-3"> © 2022 - 2022 Copyright. <br> Todos los derechos reservados WEDIMS. </p>
                    
                    </article>
                </aside>
                <aside class="col-6 col-sm-4 col-lg-2">
                    <h6 class="title">Acerca de </h6>
                    <ul class="list-menu">
                        <li class="mb-2"> 
                            
                          </li>
                         
                          <li class="mb-2"> 
                          </li>
                    </ul>
                </aside>
               
                <aside class="col-6 col-sm-4 col-lg-3">
                    <h6 class="title">Contáctanos</h6>
                    <ul class="list-menu">
                        
                        <li class="mb-2"> 
                            <i class="icon fa fa-phone" style="color: white;"></i>   2780-2002 / 3382-8021
                          </li>
                         
                          <li class="mb-2"> 
                            <i class="icon fa fa-envelope"style="color: white;"></i>    cesarzepeda98@yahoo.com
                          </li>
                          <li><a href="https://www.facebook.com/Distribuidora-Venecia-130431524223334"style="color: white;"> <i class="icon fab fa-facebook"></i> Facebook </a></li>
                          <li><a href="https://www.instagram.com/p/CRNQuBtl5A_/"style="color: white;"> <i class="icon fab fa-instagram"></i> Instagram </a></li>
                    </ul>
                </aside>
                
               
                
                  <aside class="col-lg-4 col-3">
                    <article class="me-lg-4 mb-4">
                      <h6 class="title">Ubicación</h6>
                      <div id="map-container-google-1" class="z-depth-1-half map-container" style="">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3882.69409775418!2d-87.174669!3d13.3070394!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f703dfc29c18cbb%3A0x3ba9a0ba86489104!2sDistribuidora%20venecia!5e0!3m2!1ses-419!2shn!4v1651011547864!5m2!1ses-419!2shn" width="350" height="160" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                      </div>
                      Choluteca, Choluteca, Honduras, Col. Venecia 2da entrada 8 cuadras al sur y ½ cuadra al Este.
                        
                       
                    </article>
                  </aside> <!-- col end.// -->
                
                
                
                
            </div> <!-- row.// -->
        </section> <!-- footer-top.// -->

      
    </div> <!-- container end.// -->
    <script>
        $(document).ready(function(){

$('.ir-arriba').click(function(){
    $('body, html').animate({
        scrollTop: '0px'
    }, 300);
});

$(window).scroll(function(){
    if( $(this).scrollTop() > 0 ){
        $('.ir-arriba').slideDown(300);
    } else {
        $('.ir-arriba').slideUp(300);
    }
});

});
    </script>
    
</footer>