{% extends "dashboard/dashboard_base.html" %}

{% load  static %}

{% block title %}
Administracion
{% endblock title %}

{% block content %}

<div class="container mt-5">
    <div class="row row-cols-2">
        <div class="col-6 no-gutters">
            <div class="row no-gutters">
                <div class="col text-center">
                    <h4>Gesiton de Productos</h4>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col text-center" >
                    <a href="{% url 'producto:producto_ajax' %}">
                        <img src="{% static 'images\dashboard\productos.png' %}" class="btn img-fluid" style="width: auto; height: 150px;" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6 no-gutters">
            <div class="row no-gutters">
                <div class="col text-center">
                    <h4>Gesiton de Categorias</h4>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col text-center" >
                    <a href="{% url 'categoria:categoria_ajax' %}">
                        <img src="{% static 'images\dashboard\categoria.png' %}" class="btn img-fluid" style="width: auto; height: 150px;" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6 no-gutters">
            <div class="row no-gutters">
                <div class="col text-center">
                    <h4>Gesiton de Marcas</h4>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col text-center" >
                    <a href="{% url 'marca:marca_ajax' %}">
                        <img src="{% static 'images\dashboard\marca.png' %}" class="btn img-fluid" style="width: auto; height: 150px;" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6 no-gutters">
            <div class="row no-gutters">
                <div class="col text-center">
                    <h4>Gesiton de Carrusel</h4>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col text-center" >
                    <a href="{% url 'carrusel:carrusel_list' %}">
                        <img src="{% static 'images\dashboard\carrusel.png' %}" class="btn img-fluid" style="width: auto; height: 150px;" alt="">
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}